.ProductPage {
	padding: 80px;
}

.detailContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
}

.rightDiv {
	color: #ac2432;
	margin-left: 40px;
}
.rightDiv > * {
	margin: 0;
	margin-bottom: 20px;
}
