.sideBtn {
	border: #ac2432 1px solid !important;
	background-color: #ac2432 !important;
	padding: 10px 12px;
	color: rgb(179, 179, 179) !important;
	margin: 3px 5px;
}
.sideBtn:hover {
	color: white !important;
	transition: 0.8s;
}
