.RemoveBtn {
	background-color: #ac2432 !important;
	border: solid 1px #ac2432 !important;
	color: rgb(182, 182, 182) !important;
}

.RemoveBtn:hover {
	background-color: #ac2432 !important;
	border: solid 1px #ac2432 !important;
	color: white !important;
}
