/* order*/
.Order-Container {
	width: 300px;
	border: solid #ac2432 2px;
	border-radius: 10px;
	padding: 1.5%;
	margin: 1%;
}

.orderSumSeperate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.orderSumSeperate > h6 {
	color: gray;
}

.orderSumSeperate > h6:nth-child(2) {
	color: #ac2432;
}
