.nava {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: solid rgb(199, 199, 199) 1px;
	padding: 10px;
	margin-top: 20px;
}

.nava * {
	color: #ac2432;
	border-bottom: solid transparent 5px;
	padding: 5px;
	text-decoration: none;
}

.nava *:hover {
	color: #ac2432;
	border-bottom: #ac2432 solid 5px;
	transition: border-bottom 0.8s;
}
